services:
  datamaster-server:
    image: {{ datamaster_server_image }}
    container_name: datamaster-server
    restart: always
    environment:
      TZ: {{ timezone }}
      SPRING_PROFILES_ACTIVE: prod
      DS_INCREMENTAL_PREPARE_URL: "http://{{ datamaster_app_ip }}:{{ datamaster_server_port }}/col/etlTask/incremental/prepare"
      DS_INCREMENTAL_COMPLETE_URL: "http://{{ datamaster_app_ip }}:{{ datamaster_server_port }}/col/etlTask/incremental/complete"
    ports:
      - "{{ datamaster_server_port }}:8080"
    volumes:
      - ./conf/application-prod.yml:/usr/app/jar/application-prod.yml:ro
      - ./logs:/usr/app/jar/logs
      - ./upload:/usr/app/jar/upload
    extra_hosts:
      - "postgresql:{{ postgresql_ip }}"
      - "redis:{{ redis_ip }}"
      - "dolphinscheduler:{{ dolphinscheduler_ip }}"
