services:
  datamaster-quality:
    image: {{ datamaster_quality_image }}
    container_name: datamaster-quality
    restart: always
    environment:
      TZ: {{ timezone }}
      SPRING_PROFILES_ACTIVE: prod
    ports:
      - "{{ datamaster_quality_port }}:8083"
    volumes:
      - ./conf/application-prod.yml:/usr/app/jar/application-prod.yml:ro
      - ./logs:/usr/app/jar/logs
      - ./job-log:/usr/app/jar/job-log
    extra_hosts:
      - "postgresql:{{ postgresql_ip }}"
      - "redis:{{ redis_ip }}"
      - "mongodb:{{ mongodb_ip }}"
