services:
  redis:
    image: {{ redis_image }}
    container_name: datamaster-redis
    restart: always
    environment:
      TZ: {{ timezone }}
    ports:
      - "{{ redis_port }}:6379"
    volumes:
      - ./data:/data
      - ./conf/redis.conf:/etc/redis/redis.conf:ro
      - ./logs:/logs
    command: ["redis-server", "/etc/redis/redis.conf"]
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 10
