<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datamaster.module.governance.dal.mapper.space.TaxonomySpaceUserRelMapper">

    <resultMap type="TaxonomySpaceUserRelDO" id="TaxonomySpaceUserRelResult">
        <result property="id"    column="ID"    />
        <result property="spaceId"    column="SPACE_ID"    />
        <result property="userId"    column="USER_ID"    />
        <result property="description"    column="DESCRIPTION"    />
        <result property="validFlag"    column="VALID_FLAG"    />
        <result property="delFlag"    column="DEL_FLAG"    />
        <result property="createBy"    column="CREATE_BY"    />
        <result property="creatorId"    column="CREATOR_ID"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateBy"    column="UPDATE_BY"    />
        <result property="updaterId"    column="UPDATER_ID"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
    </resultMap>

    <sql id="selectSpaceUserRelVo">
        select ID, SPACE_ID, USER_ID, DESCRIPTION, VALID_FLAG, DEL_FLAG, CREATE_BY, CREATOR_ID, CREATE_TIME, UPDATE_BY, UPDATER_ID, UPDATE_TIME from TAX_SPACE_USER_REL
    </sql>

    <select id="selectSpaceUserRelList" parameterType="TaxonomySpaceUserRelDO" resultMap="TaxonomySpaceUserRelResult">
        <include refid="selectSpaceUserRelVo"/>
        <where>
            <if test="spaceId != null "> and SPACE_ID = #{spaceId}</if>
            <if test="userId != null "> and USER_ID = #{userId}</if>
            <if test="description != null  and description != ''"> and DESCRIPTION = #{description}</if>
            <if test="createTime != null "> and CREATE_TIME = #{createTime}</if>
        </where>
    </select>

    <select id="selectSpaceUserRelById" parameterType="Long" resultMap="TaxonomySpaceUserRelResult">
        <include refid="selectSpaceUserRelVo"/>
        where ID = #{id}
    </select>

    <insert id="insertSpaceUserRel" parameterType="TaxonomySpaceUserRelDO">
        insert into TAX_SPACE_USER_REL
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="spaceId != null">SPACE_ID,</if>
            <if test="userId != null">USER_ID,</if>
            <if test="description != null">DESCRIPTION,</if>
            <if test="validFlag != null">VALID_FLAG,</if>
            <if test="delFlag != null">DEL_FLAG,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="creatorId != null">CREATOR_ID,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
            <if test="updaterId != null">UPDATER_ID,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="spaceId != null">#{spaceId},</if>
            <if test="userId != null">#{userId},</if>
            <if test="description != null">#{description},</if>
            <if test="validFlag != null">#{validFlag},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updaterId != null">#{updaterId},</if>
            <if test="updateTime != null">#{updateTime},</if>
        </trim>
    </insert>

    <update id="updateSpaceUserRel" parameterType="TaxonomySpaceUserRelDO">
        update TAX_SPACE_USER_REL
        <trim prefix="SET" suffixOverrides=",">
            <if test="spaceId != null">SPACE_ID = #{spaceId},</if>
            <if test="userId != null">USER_ID = #{userId},</if>
            <if test="description != null">DESCRIPTION = #{description},</if>
            <if test="validFlag != null">VALID_FLAG = #{validFlag},</if>
            <if test="delFlag != null">DEL_FLAG = #{delFlag},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="creatorId != null">CREATOR_ID = #{creatorId},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
            <if test="updaterId != null">UPDATER_ID = #{updaterId},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteSpaceUserRelById" parameterType="Long">
        delete from TAX_SPACE_USER_REL where ID = #{id}
    </delete>

    <delete id="deleteSpaceUserRelByIds" parameterType="String">
        delete from TAX_SPACE_USER_REL where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
