<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.datamaster.module.catalog.dal.mapper.task.CatalogTaskScopeMapper">

    <resultMap type="CatalogTaskScopeDO" id="CatalogTaskScopeResult">
        <result property="id"    column="ID"    />
        <result property="taskId"    column="TASK_ID"    />
        <result property="dbName"    column="DB_NAME"    />
        <result property="schemaName"    column="SCHEMA_NAME"    />
        <result property="validFlag"    column="VALID_FLAG"    />
        <result property="delFlag"    column="DEL_FLAG"    />
        <result property="createBy"    column="CREATE_BY"    />
        <result property="creatorId"    column="CREATOR_ID"    />
        <result property="createTime"    column="CREATE_TIME"    />
        <result property="updateBy"    column="UPDATE_BY"    />
        <result property="updaterId"    column="UPDATER_ID"    />
        <result property="updateTime"    column="UPDATE_TIME"    />
        <result property="remark"    column="REMARK"    />
        <result property="description"    column="DESCRIPTION"    />
    </resultMap>

    <sql id="selectCatalogTaskScopeVo">
        select ID, TASK_ID, DB_NAME, SCHEMA_NAME, VALID_FLAG, DEL_FLAG, CREATE_BY, CREATOR_ID, CREATE_TIME, UPDATE_BY, UPDATER_ID, UPDATE_TIME, REMARK, DESCRIPTION from CAT_TASK_SCOPE
    </sql>

    <select id="selectCatalogTaskScopeList" parameterType="CatalogTaskScopeDO" resultMap="CatalogTaskScopeResult">
        <include refid="selectCatalogTaskScopeVo"/>
        <where>
            <if test="taskId != null "> and TASK_ID = #{taskId}</if>
            <if test="dbName != null  and dbName != ''"> and DB_NAME like concat('%', #{dbName}, '%')</if>
            <if test="schemaName != null  and schemaName != ''"> and SCHEMA_NAME like concat('%', #{schemaName}, '%')</if>
            <if test="createTime != null "> and CREATE_TIME = #{createTime}</if>
            <if test="description != null  and description != ''"> and DESCRIPTION = #{description}</if>
        </where>
    </select>

    <select id="selectCatalogTaskScopeById" parameterType="Long" resultMap="CatalogTaskScopeResult">
        <include refid="selectCatalogTaskScopeVo"/>
        where ID = #{id}
    </select>

    <insert id="insertCatalogTaskScope" parameterType="CatalogTaskScopeDO">
        insert into CAT_TASK_SCOPE
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="id != null">ID,</if>
            <if test="taskId != null">TASK_ID,</if>
            <if test="dbName != null">DB_NAME,</if>
            <if test="schemaName != null">SCHEMA_NAME,</if>
            <if test="validFlag != null">VALID_FLAG,</if>
            <if test="delFlag != null">DEL_FLAG,</if>
            <if test="createBy != null">CREATE_BY,</if>
            <if test="creatorId != null">CREATOR_ID,</if>
            <if test="createTime != null">CREATE_TIME,</if>
            <if test="updateBy != null">UPDATE_BY,</if>
            <if test="updaterId != null">UPDATER_ID,</if>
            <if test="updateTime != null">UPDATE_TIME,</if>
            <if test="remark != null">REMARK,</if>
            <if test="description != null">DESCRIPTION,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="id != null">#{id},</if>
            <if test="taskId != null">#{taskId},</if>
            <if test="dbName != null">#{dbName},</if>
            <if test="schemaName != null">#{schemaName},</if>
            <if test="validFlag != null">#{validFlag},</if>
            <if test="delFlag != null">#{delFlag},</if>
            <if test="createBy != null">#{createBy},</if>
            <if test="creatorId != null">#{creatorId},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateBy != null">#{updateBy},</if>
            <if test="updaterId != null">#{updaterId},</if>
            <if test="updateTime != null">#{updateTime},</if>
            <if test="remark != null">#{remark},</if>
            <if test="description != null">#{description},</if>
         </trim>
    </insert>

    <update id="updateCatalogTaskScope" parameterType="CatalogTaskScopeDO">
        update CAT_TASK_SCOPE
        <trim prefix="SET" suffixOverrides=",">
            <if test="taskId != null">TASK_ID = #{taskId},</if>
            <if test="dbName != null">DB_NAME = #{dbName},</if>
            <if test="schemaName != null">SCHEMA_NAME = #{schemaName},</if>
            <if test="validFlag != null">VALID_FLAG = #{validFlag},</if>
            <if test="delFlag != null">DEL_FLAG = #{delFlag},</if>
            <if test="createBy != null">CREATE_BY = #{createBy},</if>
            <if test="creatorId != null">CREATOR_ID = #{creatorId},</if>
            <if test="createTime != null">CREATE_TIME = #{createTime},</if>
            <if test="updateBy != null">UPDATE_BY = #{updateBy},</if>
            <if test="updaterId != null">UPDATER_ID = #{updaterId},</if>
            <if test="updateTime != null">UPDATE_TIME = #{updateTime},</if>
            <if test="remark != null">REMARK = #{remark},</if>
            <if test="description != null">DESCRIPTION = #{description},</if>
        </trim>
        where ID = #{id}
    </update>

    <delete id="deleteCatalogTaskScopeById" parameterType="Long">
        delete from CAT_TASK_SCOPE where ID = #{id}
    </delete>

    <delete id="deleteCatalogTaskScopeByIds" parameterType="String">
        delete from CAT_TASK_SCOPE where ID in
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
